*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(0,0,33);
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
br{
    margin: inherit;
}

#banner{
    width: 100%;
    height: 90vh;
    background-image: url('images/background-img.png');
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(18,18,62);
    height: 80px;
    position: sticky;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: rgb(151, 68, 230);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
 
.header-text h1 span{
    color: rgb(151, 68, 230);
}
/* ---------about---------- */
#about{
    padding: 100px 0 0 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 .intro{
    font-size: 18px;
    margin: 20px 0;
}

.tab-titles{
    display: flex;
    margin: 20px 0 30px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: rgb(151, 68, 230);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: rgb(151, 68, 230);
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------------projects--------------- */
.container-project{
    padding: 0 10%;
}
#projects{
    padding: 100px 0 0 0;
}

.projects-list{
    margin-top: 30px;
}

.text-center{
    text-align: center;
}

.projects-list ul li{
    margin: 40px;
}

/* CAPTION 4 */
.caption-style-4{
    display: inline-block;
    text-align: left;
}

.caption-style-4 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.caption-style-4 li:hover .caption{
    opacity: 1;
}
.caption-style-4 li:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
}
.caption-style-4 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 0;
}
.caption-style-4 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}
.caption-style-4 img{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.caption-style-4 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}
.caption-style-4 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-4 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:140px;
}



/* --------contact------- */

.contact{
    flex-basis:100%;
}
.contact p{
    margin-top: 30px;
}
.contact p .icon{
    color:rgb(151, 68, 230);
    margin-right: 15px;
    font-size: 25px;
}
.contact p a{
   text-decoration: none;
   color: white;
}
.contact p a:hover{
    color:rgb(151, 68, 230);
 }
.social-icons{
    margin-top: 30px;
}

.social-icons a .svg-inline--fa{
    font-size: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform(0.5s);
}
.social-icons a:hover{
    color: rgb(151, 68, 230);
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid rgb(151, 68, 230);
    padding: 5px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;

}

.btn:hover{
    background: rgb(151, 68, 230);
}

.btn.btn2{
    display: inline-block;
    background-color: rgb(151, 68, 230);
}

.btn.btn2:hover{
    background-color: white;
    color: rgb(97, 13, 175);
}